
.link-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10%;

}
.App_Nav_Link{
    text-decoration: none;
    border: 2px solid #234668;
    padding: 10px;
    border-radius: 12px;
    background-color: #252D4A;
    color: #fff;

}